#DIV_1 {
  block-size: 102.422px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6.175px;
  bottom: 0;
  box-sizing: border-box;
  caret-color: #5e6278;
  color: #5e6278;
  column-rule-color: #5e6278;
  display: flex;
  height: 102.422px;
  inline-size: 727.75px;
  inset: 0;
  margin: 0 0 32.5px;
  overflow-wrap: break-word;
  padding: 16.25px;
  perspective-origin: 363.875px 51.2109px;
  position: relative;
  text-decoration: none solid #5e6278;
  text-emphasis-color: #5e6278;
  text-size-adjust: 100%;
  top: 0;
  transform-origin: 363.875px 51.2109px;
  width: 727.75px;
  background: rgb(0, 158, 247) none repeat scroll 0 0 / auto padding-box
    border-box;
  font: 13.975px/20.9625px Inter, Helvetica, sans-serif;
  outline: none 0 #5e6278;
}

#DIV_1:before,
#DIV_1:after,
#SPAN_2:before,
#SPAN_2:after {
  border-block-end-color: #5e6278;
  border-block-start-color: #5e6278;
  border-inline-end-color: #5e6278;
  border-inline-start-color: #5e6278;
  box-sizing: border-box;
  caret-color: #5e6278;
  color: #5e6278;
  column-rule-color: #5e6278;
  content: '';
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid #5e6278;
  text-emphasis-color: #5e6278;
  text-size-adjust: 100%;
  border: 0 none #5e6278;
  font: 13.975px/13.975px Inter, Helvetica, sans-serif;
  outline: none 0 #5e6278;
}

#SPAN_2 {
  block-size: 67.9219px;
  border-block-color: #f9f9f9;
  border-inline-color: #f9f9f9;
  box-sizing: border-box;
  caret-color: #f9f9f9;
  color: #f9f9f9;
  column-rule-color: #f9f9f9;
  display: block;
  height: 67.9219px;
  inline-size: 32.5px;
  margin-inline-end: 13px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 16.25px 33.9609px;
  text-decoration: none solid #f9f9f9;
  text-emphasis-color: #f9f9f9;
  text-size-adjust: 100%;
  transform-origin: 16.25px 33.9609px;
  width: 32 0.5px;
  background: none;
  font: 13.975px/13.975px Inter, Helvetica, sans-serif;
  outline: none 0 #f9f9f9;
  margin: 0 13px 0 0;
}

#svg_3,
#svg_3:before,
#svg_3:after,
#path_4 {
  block-size: 32.5px;
  border: 0px none rgb(249, 249, 249);
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: none;
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
}

#svg_3,
#svg_3:before,
#svg_3:after {
  height: 32.5px;
  inline-size: 32.5px;
  overflow-clip-margin: content-box;
  perspective-origin: 16.25px 16.25px;
  transform-origin: 16.25px 16.25px;
  vertical-align: middle;
  width: 32.5px;
}

#svg_3 {
  overflow: hidden;
}

#svg_3:after,
#svg_3:before {
  fill: none;
}

#path_4 {
  d: path(
    'M 14 2 H 6 C 4.89543 2 4 2.89543 4 4 V 20 C 4 21.1046 4.89543 22 6 22 H 18 C 19.1046 22 20 21.1046 20 20 V 8 L 14 2 Z'
  );
  fill: rgb(249, 249, 249);
  opacity: 0.3;
}

#path_4:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_4:after*/

#path_4:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_4:before*/

#path_5 {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  d: path('M 20 8 L 14 2 V 6 C 14 7.10457 14.8954 8 16 8 H 20 Z');
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_5*/

#path_5:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_5:after*/

#path_5:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_5:before*/

#rect_6 {
  block-size: 1.73089px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  height: 1.73089px;
  inline-size: 4.42828px;
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  rx: 0.865447px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 13.6755, -5.68431);
  transform-origin: 0px 0px;
  width: 4.42828px;
  x: 13.6993px;
  y: 13.6656px;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_6*/

#rect_6:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_6:after*/

#rect_6:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_6:before*/

#path_7 {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  d: path(
    'M 15 12 C 15 14.2 13.2 16 11 16 C 8.8 16 7 14.2 7 12 C 7 9.8 8.8 8 11 8 C 13.2 8 15 9.8 15 12 Z M 11 9.6 C 9.68 9.6 8.6 10.68 8.6 12 C 8.6 13.32 9.68 14.4 11 14.4 C 12.32 14.4 13.4 13.32 13.4 12 C 13.4 10.68 12.32 9.6 11 9.6 Z'
  );
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_7*/

#path_7:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_7:after*/

#path_7:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 13.975px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#path_7:before*/

#DIV_8 {
  block-size: 67.9219px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  display: flex;
  height: 67.9219px;
  inline-size: 609.594px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-inline-end: 32.5px;
  perspective-origin: 304.797px 33.9609px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 304.797px 33.9609px;
  width: 609.594px;
  border: 0px none rgb(249, 249, 249);
  flex-flow: column nowrap;
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
  padding: 0px 32.5px 0px 0px;
} /*#DIV_8*/

#DIV_8:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#DIV_8:after*/

#DIV_8:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#DIV_8:before*/

#H4_9 {
  block-size: 19.5px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  height: 19.5px;
  inline-size: 577.094px;
  margin-block-end: 6.5px;
  margin-block-start: 0px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 288.547px 9.75px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 288.547px 9.75px;
  width: 577.094px;
  border: 0px none rgb(249, 249, 249);
  font: 600 16.25px / 19.5px Inter, Helvetica, 'sans-serif';
  margin: 0px 0px 6.5px;
  outline: rgb(249, 249, 249) none 0px;
} /*#H4_9*/

#H4_9:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 600 16.25px / 19.5px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#H4_9:after*/

#H4_9:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 600 16.25px / 19.5px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#H4_9:before*/

#SPAN_10 {
  block-size: 41.9219px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  display: block;
  height: 41.9219px;
  inline-size: 577.094px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 288.547px 20.9609px;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 288.547px 20.9609px;
  width: 577.094px;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_10*/

#SPAN_10:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_10:after*/

#SPAN_10:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  border: 0px none rgb(249, 249, 249);
  font: 13.975px / 20.9625px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_10:before*/

#BUTTON_11 {
  align-items: center;
  appearance: button;
  block-size: 43.5938px;
  border-block-end-color: rgb(24, 28, 50);
  border-block-end-style: none;
  border-block-end-width: 0px;
  border-block-start-color: rgb(24, 28, 50);
  border-block-start-style: none;
  border-block-start-width: 0px;
  border-end-end-radius: 6.175px;
  border-end-start-radius: 6.175px;
  border-inline-end-color: rgb(24, 28, 50);
  border-inline-end-style: none;
  border-inline-end-width: 0px;
  border-inline-start-color: rgb(24, 28, 50);
  border-inline-start-style: none;
  border-inline-start-width: 0px;
  border-start-end-radius: 6.175px;
  border-start-start-radius: 6.175px;
  bottom: 0px;
  caret-color: rgb(24, 28, 50);
  color: rgb(24, 28, 50);
  column-rule-color: rgb(24, 28, 50);
  cursor: pointer;
  display: flex;
  height: 43.5938px;
  inline-size: 38.1562px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  justify-content: center;
  left: 0px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-block-end: 0px;
  padding-block-start: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 0px;
  perspective-origin: 19.0781px 21.7969px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(24, 28, 50);
  text-emphasis-color: rgb(24, 28, 50);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 19.0781px 21.7969px;
  user-select: none;
  vertical-align: middle;
  width: 38.1562px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(24, 28, 50);
  border-radius: 6.175px;
  font: 500 14.3px / 21.45px Inter, Helvetica, 'sans-serif';
  outline: rgb(24, 28, 50) none 0px;
  padding: 0px;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
} /*#BUTTON_11*/

#BUTTON_11:after {
  border-block-end-color: rgb(24, 28, 50);
  border-block-start-color: rgb(24, 28, 50);
  border-inline-end-color: rgb(24, 28, 50);
  border-inline-start-color: rgb(24, 28, 50);
  box-sizing: border-box;
  caret-color: rgb(24, 28, 50);
  color: rgb(24, 28, 50);
  column-rule-color: rgb(24, 28, 50);
  cursor: pointer;
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(24, 28, 50);
  text-emphasis-color: rgb(24, 28, 50);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(24, 28, 50);
  font: 500 14.3px / 21.45px Inter, Helvetica, 'sans-serif';
  outline: rgb(24, 28, 50) none 0px;
} /*#BUTTON_11:after*/

#BUTTON_11:before {
  border-block-end-color: rgb(24, 28, 50);
  border-block-start-color: rgb(24, 28, 50);
  border-inline-end-color: rgb(24, 28, 50);
  border-inline-start-color: rgb(24, 28, 50);
  box-sizing: border-box;
  caret-color: rgb(24, 28, 50);
  color: rgb(24, 28, 50);
  column-rule-color: rgb(24, 28, 50);
  cursor: pointer;
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(24, 28, 50);
  text-emphasis-color: rgb(24, 28, 50);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(24, 28, 50);
  font: 500 14.3px / 21.45px Inter, Helvetica, 'sans-serif';
  outline: rgb(24, 28, 50) none 0px;
} /*#BUTTON_11:before*/

#SPAN_12 {
  block-size: 26px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  display: block;
  height: 26px;
  inline-size: 26px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 13px 13px;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 13px 13px;
  user-select: none;
  width: 26px;
  border: 0px none rgb(249, 249, 249);
  flex: 0 0 auto;
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_12*/

#SPAN_12:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_12:after*/

#SPAN_12:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#SPAN_12:before*/

#svg_13 {
  block-size: 26px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: none;
  height: 26px;
  inline-size: 26px;
  overflow-clip-margin: content-box;
  overflow-wrap: break-word;
  perspective-origin: 13px 13px;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform-origin: 13px 13px;
  user-select: none;
  vertical-align: middle;
  width: 26px;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
  overflow: hidden;
} /*#svg_13*/

#svg_13:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: none;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#svg_13:after*/

#svg_13:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: none;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#svg_13:before*/

#rect_14 {
  block-size: 2px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  height: 2px;
  inline-size: 16px;
  opacity: 0.5;
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  rx: 1px;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform: matrix(0.707107, -0.707107, 0.707107, 0.707107, -10.4853, 9.31371);
  transform-origin: 0px 0px;
  user-select: none;
  width: 16px;
  x: 6px;
  y: 17.3137px;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_14*/

#rect_14:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_14:after*/

#rect_14:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_14:before*/

#rect_15 {
  block-size: 2px;
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  height: 2px;
  inline-size: 16px;
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  rx: 1px;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 6.41422, -3.48529);
  transform-origin: 0px 0px;
  user-select: none;
  width: 16px;
  x: 7.41422px;
  y: 6px;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_15*/

#rect_15:after {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_15:after*/

#rect_15:before {
  border-block-end-color: rgb(249, 249, 249);
  border-block-start-color: rgb(249, 249, 249);
  border-inline-end-color: rgb(249, 249, 249);
  border-inline-start-color: rgb(249, 249, 249);
  box-sizing: border-box;
  caret-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  column-rule-color: rgb(249, 249, 249);
  cursor: pointer;
  fill: rgb(249, 249, 249);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(249, 249, 249);
  text-emphasis-color: rgb(249, 249, 249);
  text-size-adjust: 100%;
  user-select: none;
  border: 0px none rgb(249, 249, 249);
  font: 500 14.3px / 14.3px Inter, Helvetica, 'sans-serif';
  outline: rgb(249, 249, 249) none 0px;
} /*#rect_15:before*/
